coverage
git+https://github.com/tomato42/coveralls-python.git@add-py26#egg=coveralls
pylint
diff_cover<2.5.0
typed_ast<1.3.0
isort==4.2.5
inflect<4.0.0
#mock==3.0.5 # it works on python3.3 but wheel forbids install, will manually install in github CI
typing<3.7.4
